.content{
    background-image: url('/img/vasanth-SvLiRk1wE2s-unsplash.jpg');
    min-height: 629px;
  background-repeat: no-repeat;
  background-size: 1350px 629px;
    ;

   
}
body{
    margin: 0;
    padding: 0;
}
.ulm {
    display: flex;
    font-family: 'Muli', sans-serif;
    justify-content: center;
    height: 50px;
    width: 1240px;
    font-size: 20px;
    padding-top: 20px;
    
}
.lim {
    list-style: none;
}
.am {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    text-align: center;
}


    
  

.lor{
    display: flex;
    color: whitesmoke;
    font-family: 'Muli', sans-serif;
    justify-content: space-around;
    padding-top: 50px;
    
}
.heloow{
    width: 600px;
    height: 200px;
   
}
.img1{
    height: 300px;
    border-radius: 10px;

}
.about{
    width: 700px;
    transition: all 1s;

}
.lim>.am:hover{
    color: rgb(122, 24, 122);
    transition-duration: 1s;
    text-decoration: transparent;
    
    

}
.img1{
    transition: all 1s;
    
 
    outline: medium none;
   }

.img1:hover{
    -moz-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
transform: rotate(15deg);
transition-duration: 1s;
box-shadow: 46px -24px 49px -20px rgba(0,0,0,0.75);


    
}
.about:hover{
    transform: scale(1.1);
    transition-duration: 1s;

}
.content2{
    padding-top: 0;
}
.knopka1{
    color:white ;
    text-decoration: none;
   
    background-color:rgb(47, 32, 47) ;
    border-radius: 25px;
    font-size: 30px;
    height: 50px;
    width: 200px;
    letter-spacing: 1px;
    padding-top: 20px;
    font-family: sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
.knopka{
    display: flex;

    padding-top: 50px;
  justify-content: space-around;
  transition:all 0.5s;
}
.knopka1:hover{
    border: solid;
    transition: all 1s;
}
/*second slide*/


  


.first{
    background-image: url('/img/dave-ruck-OqaavL4MpJQ-unsplash\ \(1\).jpg');
    height: 650px;
    width: 1349px;
    padding-bottom: 0;
    margin: 0;
}
*{
    margin: 0;
}
.hell{
    color: white;
    font-size: 110px;
    text-align: center;
    font-family: 'Muli', sans-serif;;
}
.hell2{
    color: rgb(238, 225, 225);
    font-size: 70px;
    text-align: center;
    font-family: 'Muli', sans-serif;;
    padding-top: 30px;
}
.hell3{
    color: rgb(206, 190, 190);
    font-size: 40px;
    text-align: center;
    font-family: 'Muli', sans-serif;;
    padding-top: 50px;
}
.img_about{
    height: 300px;
    width: 300px    ;
}
.a_down{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    
  
}
.litea{
    color: white;
    text-decoration: none;

}
.litea:hover{
    color:rgba(25, 192, 192, 0.596);
    transition-duration: 1s;
}
.content2{
    min-height: 629px;
    background-image: url("/img/kurt-von-jNN9eZdPC5M-unsplash.jpg   ");
    
    
    font-family: 'Muli', sans-serif;

}
.sport{
    color: white;
    font-family: 'Muli', sans-serif;;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 30px;
}
.lored{
    text-align: center;
    color: white;
   
    padding-top: 25px;
}
.our{
    text-align: center;
    color:white;
    padding-top: 20px;
    font-size: 30px;
   
}
.timati{
    height: 300px;
    width: 250px;
 
    padding-top: 40px;
    
    filter: grayscale(10%) opacity(0.93);
-webkit-filter: grayscale(10%) opacity(0.93);
}
.comanda{
    display: flex;
    justify-content: space-around;
}

   
